* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

:root {
  --black: #212121;
  --gray: #303030;
  --c1: #f94144ff;
  --c2: #f3722cff;
  --c3: #f8961eff;
  --c4: #f9c74fff;
  --c5: #90be6dff;
  --c6: #43aa8bff;
  --c7: #577590ff;
}

body {
  background-color: var(--black);

}

header {
  height: 10dvh;
  padding: 1em;

  & h1 {
    font-weight: 800;
    color: var(--c4);

  }
}

main {
  padding: 5%;
  min-height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

}

.containerRoulette {
  max-width: 90vw;
  width: 400px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.contItems {
  height: 100%;
  width: 100%;
  transition: transform 2500ms cubic-bezier(0.68, -0.6, 0.32, 1);
}

.item {
  height: 50%;
  width: calc(100% / 2);
  transform-origin: bottom;
  
  color: var(--black);
  font-weight: 600;
  font-size: 20px;

  display: grid;
  place-items: center;
  writing-mode: vertical-lr;
  transform: translate(-50%, -100%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.unique {
  height: 100%;
  width: 100%;
  padding: 10%;
  justify-content: start;
  transform: translate(-50% ,-50%);
}

.polygon{
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.btnRoulette {
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 50% 5% 50% 50%;
  background-color: var(--black);
  
  cursor: pointer;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.contItems {
  & .item:nth-child(7n) {
    background-color: var(--c1);
  }
  & .item:nth-child(7n-1) {
    background-color: var(--c2);
  }
  & .item:nth-child(7n-2) {
    background-color: var(--c3);
  }
  & .item:nth-child(7n-3) {
    background-color: var(--c4);
  }
  & .item:nth-child(7n-4) {
    background-color: var(--c5);
  }
  & .item:nth-child(7n-5) {
    background-color: var(--c6);
  }
  & .item:nth-child(7n-6) {
    background-color: var(--c7);
  }
}

.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & h2 {
    font-weight: 800;
    color: var(--c4);
  }
  
  & textarea{
    padding: 1em;
    min-width: 250px;
    min-height: 250px;
    outline: 0;
    background-color: var(--gray);
    color: var(--c4);
    font-weight: 600;
    border: 0;
    border-radius: 1em;
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  header {
    padding: 2em;
    text-align: center;
  }
  main {
    flex-direction: column;
  }

  .opcoes {
    width: 100%;

    & textarea {
      max-width: 500px;
      min-width: none;
      width: 100%;
    }
  }
}